:root  {

    /*
    ----------------------------
    Colors
    ----------------------------
    */
    --primary-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --primary-grey-color: #757575;
    --logo-text-color: #000000;
    --logo-and-accent-color: #2196F3;
    --hero-footer-background-color: #2F303A;
    --address-links-color: rgba(255, 255, 255, 0.6);
    --portfolio-btn-background-color: #F5F4FA;

    /*
    ----------------------------
    Font-size
    ----------------------------
    */
    --logo-font-size: 26px;
    --hero-title-size: 44px;
    --titles-size: 36px;
    --page-text-size: 14px;
    --team-font-size: 16px;
    --btn-font-size: 16px;
    --portfolio-text-size: 16px;
    --portfolio-title-size: 18px;

    /*
    ----------------------------
    Font-family
    ----------------------------
    */
    --main-font-family: 'Roboto';
    --secondary-font-family: 'Raleway';

    /*
    ----------------------------
    Font-weight
    ----------------------------
    */
    --medium-font-weight: 500;
    --bold-font-weight: 700;
    --black-font-weight: 900;
}

.list {
    list-style: none;
}  

/* HEADER */

.logo {
    font-family: var(--secondary-font-family);
    font-weight: var(--bold-font-weight);
    font-size: var(--logo-font-size);
    line-height: 1.38;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--logo-and-accent-color);
}  
.header-span{
    color: var(--logo-text-color);
}
.header-link{
    font-family: var(--main-font-family);
    font-weight: var(--medium-font-weight);
    font-size: var(--page-text-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.header-link.address {
    color: var(--primary-grey-color);
}
.header-link.portfolio:visited,
.header-link:hover,
.header-link:focus,
.header-link.address:hover,
.header-link.address:focus {
    color: var(--logo-and-accent-color);
}

/* HERO */
.hero-section {
    background-color: var(--hero-footer-background-color);
}
.hero-title {
    font-family: var(--main-font-family);
    font-weight: var(--black-font-weight);
    font-size: var(--hero-title-size);
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-white-color);
}
.hero-btn {
    font-family: var(--main-font-family);
    font-weight: var(--bold-font-weight);
    font-size: var(--btn-font-size);
    line-height: 1.87;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--primary-white-color);
    background-color:var(--logo-and-accent-color);
}
/* Why-we-section */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.why-we-title {
    font-family: var(--main-font-family);
    font-weight: var(--bold-font-weight);
    font-size: var(--page-text-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-text-color);
}
.why-we-text {
    font-family: var(--main-font-family);
    font-size: var(--page-text-size);
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--primary-grey-color);
}
/* Work-section */
.work-main-title 
.team-main-title {
    font-family: var(--main-font-family);
    font-weight: var(--bold-font-weight);
    font-size: var(--titles-size);
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-title {
    font-family: var(--main-font-family);
    font-weight: var(--medium-font-weight);
    font-size: var(--team-font-size);
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-text {
    font-family: var(--main-font-family);
    font-size: var(--team-font-size);
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-grey-color);
}
/* FOOTER */
footer {
    background-color: var(--hero-footer-background-color);;
}
.footer-span {
    color: var(--primary-white-color);
}
.footer-link {
    font-family: var(--main-font-family);
    font-size: var(--page-text-size);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}
.footer-link.address {
    color: var(--address-links-color);
}
.footer-link:hover,
.footer-link:focus,
.footer-link.address:hover,
.footer-link.address:focus {
    color: var(--logo-and-accent-color);
}

/* PORTFOLIO */
.works-btn {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: var(--medium-font-weigh);
    font-size: var(--btn-font-size);
    line-height: 1.62;
    letter-spacing: 0.03em; 
    color: var(--primary-text-color);
}
.works-btn:hover,
.works-btn:focus,
.works-btn.current {
    color: var(--primary-white-color);
    background-color: var(--logo-and-accent-color);
}
.works-title {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: var(--bold-font-weight);
    font-size: var(--portfolio-title-size);
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.works-text {
    font-family: var(--main-font-family);
    font-style: normal;
    font-size: var(--portfolio-text-size);
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-grey-color);
}


